Package: jp.dora2ios.cpbypass
Name: CP-Bypass
Depends: mobilesubstrate, firmware(>=9.1)
Version: 1.4.1
Architecture: iphoneos-arm
Description: JB detection bypass for CrackProof.
Maintainer: dora2ios
Author: dora2ios
Section: System
